# System Directories
.vscode
.DS_Store

# Experimental or Testing
scratches/**
http

# Frontend
frontend/node_modules
frontend/dist  
frontend/.angular

# Backend
backend/build
backend/.gradle
backend/data

# AI 
superpowers
.agents
.claude